// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

&i2c1 {
    bh1790:bh1790@5B{
		compatible = "i2c-device";
		status = "okay";
		reg = < 0x5B >;
	};

	lis2dw12:lis2dw12@19{
		compatible = "i2c-device";
		status = "okay";
		reg = < 0x19 >;
	};

	bmp581:bmp581@47{
		compatible="i2c-device";
		status = "okay";
		reg = <0x47>;
	};

	max17043:max17043@36{
		compatible="i2c-device";
		status = "okay";
		reg = <0x36>;
	};
};